.cat_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.cat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    :hover {

        cursor: url('../assets/hand.png'), auto;
    }

    :active {
        cursor: url('../assets/hand_rotated.png'), auto;
    }
}

#cat_image {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: -5;

}

.hidden {
    display: none;
}

.you_died {
    position: absolute;
    z-index: 5
}